---
import Connect from "../components/connect.jsx";
---

<!doctype html>
<html lang="en">
    <head>
        <script src="/serial.js" is:inline></script>
    </head>
    <body class="w-[800px] m-auto">
        miau
        <Connect client:only="solid" />
    </body>
</html>
