---
import Connect from "../components/connect.jsx";
---

<!doctype html>
<html lang="en">
    <head> </head>
    <body class="w-[800px] m-auto">
        miau
        <Connect client:only="solid" />
    </body>
</html>
<script src="../scripts/app.ts"></script>
